<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="closeMenu()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Főoldal</span>
    </a>
    <a mat-list-item routerLink="/buses" (click)="closeMenu()">
        <mat-icon matListItemIcon>directions_bus</mat-icon>
        <span matListItemTitle>Buszok</span>
    </a>
    <a mat-list-item routerLink="/trams" (click)="closeMenu()">
        <mat-icon matListItemIcon>tram</mat-icon>
        <span matListItemTitle>Villamosok</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="closeMenu()">
        <mat-icon matListItemIcon>home</mat-icon>
        <span matListItemTitle>Bejelentkezés</span>
    </a>
    <a mat-list-item routerLink="/signup" (click)="closeMenu()">
        <mat-icon matListItemIcon>person_add</mat-icon>
        <span matListItemTitle>Regisztráció</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="closeMenu()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Kijelentkezés</span>
    </a>
</mat-nav-list>