
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu [sidenav]="sidenav" [userLoggedIn]="userLoggedIn" (logoutEvent)="logout()"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
      mat-button
      (click)="onToggleSidenav(sidenav)"
      class="menu-toggle-button">
      <mat-icon>menu</mat-icon>
      </button>
      <div>Szegedi Menetrend</div>
      <nav>
        <ul>
          <li><button mat-button (click)="moveTo('home')">Főoldal</button></li>
          <li><button mat-button (click)="moveTo('buses')">Buszok</button></li>
          <li><button mat-button (click)="moveTo('trams')">Villamosok</button></li>
          @if(!userLoggedIn){
            <li><button mat-button (click)="moveTo('login')">Bejelentkezés</button></li>
            <li><button mat-button (click)="moveTo('signup')">Regisztráció</button></li>
          }
          @if(userLoggedIn){
            <li><button mat-button (click)="moveTo('saved')">Mentett járatok</button></li>
            <li><button mat-button (click)="logout()">Kijelentkezés</button></li>
          }
        </ul>
      </nav>
    </mat-toolbar>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
