mat-card{
    max-width: 400px;
    display: block;
    margin: auto;
}
.container{
    margin: auto;
    justify-items: center;
    align-items: center;
    padding: 100px;
}
button{
    align-self: center;
    display: block;
}