mat-card{
    max-width: 400px;
    display: block;
    margin: auto;
}
.container{
    margin: auto;
    justify-items: center;
    align-items: center;
    padding: 100px;
}
button{
    align-self: center;
    display: block;
}
mat-card-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.buttons{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}