<div class="container">
    <mat-card appearance="outlined">
        <mat-card-header>
            <mat-card-title>Szegedi menetrend</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Buszok megtekintése</span>
            <button color="primary" mat-flat-button routerLink="/buses" >Buszok</button>
            <span>Villamosok megtekintése</span>
            <button color="warn" mat-flat-button routerLink="/trams">Villamosok</button>
        </mat-card-content>
    </mat-card>
</div>