mat-card{
    width: 50%;
    display: block;
    margin: auto;
}
.container{
    margin: auto;
    justify-items: center;
    align-items: center;
    padding: 100px;
}
button{
    align-self: center;
    display: block;
}